<mat-card>
    <mat-card-header>
        <mat-card-title>Post New Messages</mat-card-title>
     </mat-card-header>
  <form>
    <mat-form-field>
      <textarea name="messages" [(ngModel)]="messages" matInput placeholder="Message"></textarea>
    </mat-form-field>
  </form>
  <mat-card-actions>
    <button (click)="postMessage()" mat-button>Post</button>
  </mat-card-actions>
</mat-card>
<mat-card>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
               New Message
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf = 'newMsg; else nomessage'>{{newMsg}}</div>
            <ng-template #nomessage>
              <p>
                No new messages
              </p>
            </ng-template>
        </mat-expansion-panel>
     </mat-accordion>
</mat-card>
<mat-card>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Old Feeds
            </mat-panel-title>
          </mat-expansion-panel-header>
          
              <mat-list role="list">
                  <mat-list-item role="listitem" *ngFor="let newMsg of newMessages">{{newMsg.msg}}</mat-list-item>
                </mat-list>
         
        </mat-expansion-panel>
     </mat-accordion>
</mat-card>